// Color Palette
:root {
  // Brand Colors
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-brand-grey: #cfcfbc;
  
  // Primary Colors
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  
  // Secondary Colors
  --color-secondary-dark: #a28268;
}
