// Typography
$font-family-primary: 'Poppins', sans-serif;
$font-size-base: 16px;
$font-size-lg: 18px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$line-height-base: 1.5;
$line-height-heading: 1.2;
$line-height-loose: 1.8;
