.chefs {
  &__title {
    position: relative;
    margin: 0 auto 24px;
    font-size: 32px;
    font-weight: 900;
    line-height: 1.5;
    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 80px;
      font-size: 64px;
      line-height: 1.3;
    }
    &::before,
    &::after {
      display: none;
      position: absolute;
      bottom: 24px;
      width: 352px;
      border: 2px solid var(--color-brand-grey);
      content: '';
      @media screen and (min-width: $bp-desktop) {
        display: block;
      }
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }

    &--centered {
      text-align: center;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 40px 30px;
    }
  }
  &__item {
    @media screen and (min-width: $bp-tablet) {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
}
