.formats {
  &__title {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.5;
    @media screen and (min-width: $bp-tablet) {
      font-size: 64px;
      line-height: 1.3;
    }

    &--centered {
      text-align: center;
    }
  }

  &__slider {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__container {
    overflow: hidden;
  }

  &__list {
    margin-bottom: 32px;
  }

  &__button {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
    }

    &--prev,
    &--next {
      @extend .formats__button;
    }
  }
}
