.traditions {
  padding-top: 40px;
  @media screen and (min-width: $bp-tablet) {
  padding-top: 96px;
  }
  
  &__traditions-title {
    margin-bottom: 80px;
  }

  &__title {
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 900;
    line-height: 1.5;
    @media screen and (min-width: $bp-tablet) {
      font-size: 64px;
      line-height: 1.3;
    }
  }
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
  }
  &__content {
    max-width: 710px;
  }

  &__text {
    &--limited {
      max-width: 330px;
    }
  }
  &__image {
    display: none;
    border-radius: 400px 400px 0px 0px;
    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }
}
