// Base Styles
body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: $font-family-primary;
  font-size: $font-size-base;
  font-weight: $font-weight-light;
  line-height: $line-height-base;

  @include tablet-up {
    font-size: $font-size-lg;
    font-weight: $font-weight-regular;
  }
}

body.is-scroll-disabled {
  overflow: hidden;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $line-height-heading;
  font-weight: $font-weight-semibold;
}

// Links
a {
  display: inline-block;
}
