<section class="chefs" id="chefs">
    <div class="container">
        <h2 class="chefs__title chefs__title--centered">
            Наші найкращі<br />
            <span class="text-brand-dark">шеф-кухарі</span>
        </h2>
        <ul class="chefs__list">
            <li class="chefs__item">
                <article class="chef-card">
                    <img class="chef-card__photo" src="./img/nastya-chef.jpg" alt="Nastya chef" />
                    <div class="chef-card__content">
                        <h3 class="chef-card__title">Настя</h3>
                        <p class="chef-card__text">Привіт, я Настя!</p>
                        <p class="chef-card__text">
                            Вже 10 років, я втілюю<br />
                            у життя цікаві та смачні ідеї.
                        </p>
                        <p class="chef-card__text">
                            Я спечу для вас<br />
                            найсмачніші вироби!
                        </p>
                    </div>
                </article>
            </li>
            <li class="chefs__item">
                <article class="chef-card">
                    <img class="chef-card__photo" src="./img/vlad-chef.jpg" alt="Vlad chef" />
                    <div class="chef-card__content">
                        <h3 class="chef-card__title">Влад</h3>
                        <p class="chef-card__text">Привіт, я Влад!</p>
                        <p class="chef-card__text">
                            Мій кондитерський стаж вже 18 років. SHOP BAKERY - це наша
                            любов, з якою ми ділимось кожен раз з Вами через нашу
                            випічку!
                        </p>
                        <p class="chef-card__text">
                            Я зроблю для вас унікальну начинку на будь який смак!
                        </p>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>
